<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5d397587b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../icons/icons8-shoe-32.png" type="image/x-icon">
    <title>Shoe Shop</title>
</head>

<body>
    <section class="products">
        <h2 class="welcome">Welcome to our store</h2>
        <div class="container">
            <div class="products-content">
                <!-- <div class="product-item">
                    <h3 class="product-title">SPORT SHOES</h3>
                    <p class="product-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis minima
                        perspiciatis tempora harum illo in debitis .</p>
                    <div class="product-image">
                        <img src="../images/1.png" class="image" alt="">
                    </div>
                    <div class="product-info">
                        <span class="product-price">$53</span>
                        <a href="#" class="product-link">SEE MORE</a>
                    </div>
                </div> -->


 
            </div>
        </div>
    </section>
    <script src="../js2/script.js"></script>
</body>

</html>