<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5d397587b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="shortcut icon" href="../icons/icons8-shoe-32 (1).png" type="image/x-icon">
    <title>Shoe Shop</title>
</head>

<body>
    <header>
        <section class="head-top">
            <div class="container">
                <button class="back-button">Back</button>
            </div>
        </section>
    </header>
    <main class="main">
        <section class="details">
            <div class="container">
                <div class="description">
                    <!-- <div class="description-left">
                        <h3 class="details-title">SPORT SHOE</h3>
                        <p class="details-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis minima
                            perspiciatis tempora harum illo in debitis .Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Officiis minima perspiciatis tempora harum illo in debitis .</p>
                            <span class="details-price">$53</span>
                        </div>
                    <div class="description-right">
                        <img src="../images/1.png" alt="image" class="right-image">
                    </div> -->
                </div>
            </div>
        </section>
    </main>
    <script src="../js2/script2.js"></script>
</body>

</html>